@{
    ViewData["Title"] = "Salary Page";
}

@model DailyCheckIn.Models.DTO.SalaryDTO
<div class="modal" tabindex="-1" id="exampleModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center">
                <p>Modal body text goes here.</p>
            </div>
        </div>
    </div>
</div>

<section class="border-2 p-1 d-flex flex-column">
    <div class="d-flex flex-row align-items-center align-content-center width-400 p-2 justify-content-between date-container">
        <svg id="leftArrowButton" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-caret-left arrow-icon-hover" viewBox="0 0 16 16">
            <path d="M10 12.796V3.204L4.519 8zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753" />
        </svg>
        <p style="margin-bottom:0;"> @((DailyCheckIn.Enums.MonthsEnum)(Model.Month - 1)) - Weak @((DailyCheckIn.Enums.WeaksEnum)(Model.Weak))</p>
        <svg id="rightArrowButton" xmlns="http://www.w3.org/2000/svg" width="40" height="30" fill="currentColor" class="bi bi-caret-right arrow-icon-hover" viewBox="0 0 16 16">
            <path d="M6 12.796V3.204L11.481 8zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753" />
        </svg>
    </div>
    <div id="partialContainer">
        <partial name="_DayReportSalaryTablePartial" model="@Model.Days" />
    </div>
</section>

<section class="border margin-bottom">
    <div class="d-flex flex-row justify-content-between p-2 border">
        <p>Total Hours worked</p>
        <p>@Math.Round(Model.TotalMinutesWorked / 60, 2)</p>
    </div>
    <div class="d-flex flex-row justify-content-between p-2 border">
        <p>Total Over time hours worked</p>
        <p>@Math.Round(Model.TotalOverTimeMinuteWorked / 60, 2)</p>
    </div>

    <div class="d-flex flex-column align-items-center m-2">
        <p>Total Money earned</p>
        <p>@Math.Round(@Model.TotalMoneyEarned, 2)</p>
    </div>
</section>


<script>
    function isLeapYear(year) {
        return (year % 4 === 0 && year % 100 !== 0) || (year % 400 === 0);
    }

    const leftArrowButton = document.getElementById("leftArrowButton");
    const rightArrowButton = document.getElementById("rightArrowButton")

    rightArrowButton.onclick = function () {
        const url = new URL(window.location.href);

        var currentWeek = parseInt("@Model.Weak");
        var currentMonth = parseInt("@Model.Month");
        var targetMonth = currentMonth;
        var currentYear = parseInt("@Model.Year");

        currentWeek++;
        if (currentMonth == 2 && currentWeek == 5 && !isLeapYear(currentYear))
        {
            targetMonth++;
            currentWeek = 1
        }

        if (currentWeek > 5){
            targetMonth++;
            currentWeek = 1;

            if (targetMonth > 12) {
                currentYear++;
                targetMonth = 1;
            }
        }

        url.searchParams.set(
            "Year",
            currentYear
        );
        url.searchParams.set(
            "Month",
            targetMonth
        );
        url.searchParams.set(
            "Weak",
            currentWeek
        );
        if(targetMonth !== currentMonth)
            window.location.href = url.toString();
        else
        {
            window.location = url.toString();
            $.ajax({
                url: "/Salary/DaysWeakSalaryTable",
                type: "GET",
                data: {
                    year: currentYear,
                    month: targetMonth,
                    weak: currentWeek
                },
                success: function (html) {
                    $("#partialContainer").html(html);
                },
                error: function (xhr, status, error) {
                    console.error("Error loading partial:", error);
                }
            });
        }
    };

    leftArrowButton.onclick = function () {
        const url = new URL(window.location.href);

        var currentWeek = parseInt("@Model.Weak");
        var currentMonth = parseInt("@Model.Month");
        var targetMonth = currentMonth;
        var currentYear = parseInt("@Model.Year");

        currentWeek--;

        if (currentWeek < 1) {
            targetMonth--;
            currentWeek = 5;

            if (targetMonth < 1) {
                currentYear--;
                targetMonth = 12;
            }
        }

        if (targetMonth == 2 && currentWeek == 5 && !isLeapYear(currentYear))
        {
            currentWeek = 4
        }

        url.searchParams.set(
            "Year",
            currentYear
        );
        url.searchParams.set(
            "Month",
            targetMonth
        );
        url.searchParams.set(
            "Weak",
            currentWeek
        );

        if(targetMonth !== currentMonth)
            window.location.href = url.toString();
        else
        {
            window.location = url.toString();
            $.ajax({
                url: "/Salary/DaysWeakSalaryTable",
                type: "GET",
                data: {
                    year: currentYear,
                    month: targetMonth,
                    weak: currentWeek
                },
                success: function (html) {
                    $("#partialContainer").html(html);
                },
                error: function (xhr, status, error) {
                    console.error("Error loading partial:", error);
                }
            });
        }
    };
</script>
