@model DailyCheckIn.Models.DTO.UserProfileDTO
<form>
    <label>Name</label>
    <input type="text" placeholder="@Model.Name" />
    <label>Arabic Name</label>
    <input type="text" placeholder="@Model.ArabicName" />
    <label>Email</label>
    <input type="email" placeholder="@Model.Email" />
    <label>Phone Number</label>
    <input type="number" placeholder="@Model.PhoneNumber" />
    <label>Bonus</label>
    <input type="number" placeholder="@Model.Bonus" />
    <label>Start Date</label>
    <input type="date" placeholder="@Model.Name" />
</form>